################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/FitnessClubRasima/obj/Debug/FitnessClubRasima_MarkupCompile.i.cache
/FitnessClubRasima/obj/Debug/FitnessClubRasima_MarkupCompile.i.lref
